# Host/IP publicado pelo Caddy (sem protocolo)
# Exemplo IP: 10.10.10.50
# Exemplo dominio: siia.sua-rede.mil.br
SIIA_HOST=10.10.10.50

# Django
DEBUG=False
SECRET_KEY=trocar-esta-chave-em-producao
USE_LDAP_AUTH=false
SIIA_ENV=prod

# PostgreSQL (externo ou em outro host)
POSTGRES_DB=siia
POSTGRES_USER=siia
POSTGRES_PASSWORD=highlighter
POSTGRES_HOST=10.10.10.60
POSTGRES_PORT=5432
POSTGRES_SEARCH_PATH=reabilita,siagg,public

# Validação de hosts do CMS
CMS_ALLOWED_NEXTCLOUD_HOSTS=nextcloud.sua-rede.mil.br
CMS_ALLOWED_LEGACY_HOSTS=siia.sua-rede.mil.br
CMS_ALLOWED_EXTERNAL_HOSTS=
